body {
    background: #000000;
    
    place-items: center;
}

.logo {
    max-height: 60px;
    width: 60px;
    filter:  brightness(74%) contrast(104%) saturate(189%) hue-rotate(-11deg);
  }
  
  nav {
    padding: 20px 0;

  }
  
  nav ul {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;

  }
  
  nav a {
    text-decoration: none;
    color: #50dfe9;
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li.active a {
    color: rgb(234, 54, 141);
  }




h1 {
    margin-top: 1.5%;
    text-align: center;
    font-size: 86px;
    text-shadow: 5px 5px 15px rgba(234, 54, 141, 0.6);
    color: #f02788;
    font-family: "Trade Winds", system-ui;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: -0.3%;
    color: #3ddae5;
    text-shadow: 5px 5px 10px rgba(80, 223, 233, 0.3);
    font-size: 29px;
}

h3 {
  transform: scaleX(1);
    font-family: "Poppins", sans-serif;
    margin-top: 4%;
    font-weight: 500;
    color: rgb(255, 243, 243);
    font-size: 26px;
    text-align: center;
}

h4 {
  font-weight: bold;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.cast .card .contentCard .content h5 {
  font-weight: 4000;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #881348;
}

h5 {
  font-weight: bold;
  color:blue;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h6 {
  transform: scaleX(1);
    font-family: "Poppins", sans-serif;
    margin-top: 4%;
    font-weight: 500;
    color: rgb(255, 243, 243);
    font-size: 50px;
    text-align: center;
}

.photo-container {
  width: 90%;
  margin-top: -260%;
  padding: 10px;
  margin: 100px auto;
}

.row {
  justify-content:center;
}

.col-sm-3 {

  filter: drop-shadow(0px 5px 18px #ab0058);
  transition: 1s;
}

.col-sm-3 img {
  max-width:100%;
  border-radius: 9px;
}

.col-sm-3:hover {
  transform: scale(1.3);
  z-index: 2;
  filter: drop-shadow(0px 5px 18px #94fffd);
}


/* p {
  transform: scaleX(1);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(255, 243, 243);
    font-size: 18px;
} */



.box-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-container .box {
  position: relative;
  width: 350px;
  padding: 40px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 7px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.box-container .box .icon {
  position: relative;
  width: 70px;
  height: 70px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.box-container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #F02788;
  background: #F02788;
}

.box-container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #F02788;
  background: #F02788;
}


.box-container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #F679B6;
  background: #F679B6;
}

.box-container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #F679B6;
  background: #F679B6;
}

.box-container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #AC81DA;
  background: #AC81DA;
}

.box-container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #AC81DA;
  background: #AC81DA;
}

.box-container .box:nth-child(4) .icon {
  box-shadow: 0 0 0 0 #92EBF2;
  background: #92EBF2;
}

.box-container .box:nth-child(4):hover .icon {
  box-shadow: 0 0 0 400px #92EBF2;
  background: #92EBF2;
}

.box-container .box:nth-child(5) .icon {
  box-shadow: 0 0 0 0 #50DFE9;
  background: #50DFE9;
}

.box-container .box:nth-child(5):hover .icon {
  box-shadow: 0 0 0 400px #50DFE9;
  background: #50DFE9;
}



.box-container .box .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.box-container .box .content p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin:0;
  padding:0;
}

.box-container .box:hover .content {
  color: white;
}





.cast {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
}


.cast .card {
  position: relative;
  width: 280px;
  height: 280px;
  margin:15px;
  overflow: hidden;
}

.cast .card .pretty
.cast .card .contentCard 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cast .card .pretty img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cast .card .contentCard::before
  {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0.75;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
      transform-origin: right; 
  }

.cast .card:hover .contentCard::before
  {
      transform: scaleX(1);
      transition: transform 0.5s ease-in-out;
      transform-origin: left;
  }    

  .cast .card .contentCard {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .cast .card .contentCard .content {
      position: relative;
      padding: 30px;
      z-index: 1;
      transition: 0.5s;
      transform: translate(-300px);
      transition-delay: 0%
  }

  .cast .card:hover .contentCard .content {
      transform: translateX(0px);
      transition-delay: 0.1s;
  }



  .cast .card .contentCard .content p {
      font-size: 16px;
      line-height: 1.4em;
      font-weight: 300;
      color: rgb(21, 21, 21);
  }

  .btn {
    background-color: #f0bcca;
    font-weight: 600;
    opacity: 0.8;
    border-radius: 5px;
    border-color: antiquewhite;
    width: 115px;
    transition: 0.5s;
  }

  .btn:hover {
    background-color: #bfdbe7;
    opacity: 0.9;
    border-color: antiquewhite;
    width: 117px;
  }

